@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/********** Base CSS *************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
input {
  border: 0;
  margin: 0;
}
input:focus {
  outline: 0;
}
/** Heading Elements **/
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
h5 {
  font-size: 1rem;
  font-weight: 700;
}
h6 {
  font-size: 0.8rem;
  font-weight: 700;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.img-responsive {
  width: 100%;
}

/* For Home  Component */
.main-wrapper {
  font-size: 18.5px;
  font-weight: 500;
  color: #444444;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.heading {
  font-weight: 600;
  margin-top: 30px;
  font-family: "Roboto";
}

.college-lists > div {
  margin: 10px 16px;
}

.college-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (min-width: 945px) {
  .college-lists > div {
    margin: 37px 0;
  }
}
